---
title: <i class="fa fa-home fa-lg"></i>
layout: page_title
titlename: Teknoloji Forumu
---

<div class="aside3-slogan">
  <h3>
    <span style="color: rgb(55, 221, 111);">T</span>
    <span style="color: rgb(99, 221, 141);">E</span>
    <span style="color: rgb(0, 187, 63);">K</span>
    <span style="color: rgb(35, 140, 71);">N</span>
    <span style="color: rgb(0, 121, 41);">O</span>
    <span style="color: rgb(66, 130, 211);">L</span>
    <span style="color: rgb(105, 151, 211);">J</span>
    <span style="color: rgb(255, 182, 64);">I</span>
    <span style="color: rgb(255, 201, 115);">F</span>
    <span style="color: rgb(255, 93, 64);">R</span>
    <span style="color: rgb(255, 137, 115);">M</span>
  </h3>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }}</div>
      {% for post in paginator.posts %}
        <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
          {{post.title}}
          <span class="badge">{{ post.date | date:"%Y %m  %d " }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
  {% for cate in site.cates %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ cate }}</div>
        {% for tag in site.tags %} 
          {% if tag[0] == cate %}
            {% for post in tag[1] limit:10 %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y  %m  %d " }}</span>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
 
